* {
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.container-fluid {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 25px;
	margin: 25px;
}

a:hover {
	text-decoration: none !important;
}

.pp {
	margin-bottom: 50px;
	margin-top: 100px;
	border: 3px dashed #fff;
	padding: 25px;
	width: 216px;
	height: 100%;
	border-radius: 5px;
	background-color: hotpink;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
}

.crypt {
	border: 3px dashed #fff;
	padding: 25px;
	height: 100%;
	border-radius: 5px;
	background-color: #3adfd0;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 25px;
}

.pp:hover {
	background: linear-gradient(to right, #ff1a8b, #feb3d8);
}

.crypt:hover {
	background: linear-gradient(to right, #23a093, #01fde2);
}

.pp p {
	color: white;
	margin: 0;
}

.crypt p {
	color: white;
	margin: 0;
}

.pp:hover p {
	color: black;
}

.crypt:hover p {
	color: black;
}

